{% extends 'layout.html.twig' %}

{% block body %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Média</span>
                <h3 class="page-title">Liste des médias</h3>
            </div>
        </div>
        <div class="blog-comments__actions">
            <div class="btn-group btn-group-sm mb-3">
                {% for key,item in types %}
                    <a href="{{ path('media_list', {'id': item.id}) }}" class="btn btn-white {% if item.name==current.name %}active{% endif %}">
                        <span class="text-success"></span> {{ item.name }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- End Page Header -->
        <div class="row">
            {% set i=0 %}
            {% for key,item in list %}
                {% set i=i+1 %}
                {% if i is divisible by(5) or ((i-1) is divisible by(5) and i>1) %}
                    <div class="col-lg-6 col-sm-12 mb-4">
                        <div class="card card-small card-post card-post--aside card-post--1">
                            <div class="card-post__image" style="background-image: url('{{ asset('medias/' ~ item.picture) }}');">
                                <a href="#" class="card-post__category badge badge-pill badge-dark">{{ item.genre.name }}</a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="text-fiord-blue" href="{{ asset('medias/' ~ item.name ~ '.' ~ item.extension) }}">{{ item.name }}</a>
                                </h5>
                                <p class="card-text d-inline-block mb-3">
                                    {% if item.description|length < 120 %}
                                        {{ item.description }}
                                    {% else %}
                                        {{ item.description | slice(0, 120) }}...
                                    {% endif %}</p><br>
                                <span class="text-muted">{{ item.dateCreated | date('d/m/Y') }}</span>
                                <span class="text-muted"> - par </span><span class="d-inline-block"> {{ item.utilisateur.username }}</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card card-small card-post card-post--1">
                            <div class="card-post__image" style="background-image: url('{{ asset('medias/' ~ item.picture) }}');">
                                <a href="#" class="card-post__category badge badge-pill badge-dark">{{ item.genre.name }}</a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="text-fiord-blue" href="{{ asset('medias/' ~ item.name ~ '.' ~ item.extension) }}">{{ item.name }}</a>
                                </h5>
                                <p class="card-text d-inline-block mb-3" style="height: 100px;">
                                    {% if item.description|length < 120 %}
                                        {{ item.description }}
                                    {% else %}
                                        {{ item.description | slice(0, 120) }}...
                                    {% endif %}</p><br>
                                <span class="text-muted">{{ item.dateCreated | date('d/m/Y') }}</span>
                                <span class="text-muted"> - par </span><span class="d-inline-block"> {{ item.utilisateur.username }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% endblock %}