{% trans_default_domain 'messages' %}
{% extends 'layout.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show mb-0" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="fa fa-check mx-2"></i>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="main-content-container container-fluid px-4 mb-4">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Média</span>
                <h3 class="page-title">{% trans %}Mes médias{% endtrans %}</h3>
            </div>
        </div>
        <div class="card card-small blog-comments">
            <div class="card-header border-bottom">
                <a href="{{ path('media_create') }}" class="btn btn-pill btn-outline-success float-right"><i class="material-icons">add</i> Ajouter</a>
                <h6 class="m-0">Mes médias</h6>
            </div>
            <div class="card-body p-0">
                {% for key,item in list %}
                <div class="blog-comments__item d-flex p-3">
                    <div class="blog-comments__avatar mr-3">
                        <img src="{{ asset('medias/' ~ item.picture) }}" alt="User avatar">
                    </div>
                    <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                            <a class="text-secondary" href="{{ asset('medias/' ~ item.name ~ '.' ~ item.extension) }}">
                                <a class="text-secondary" href="{{ asset('medias/' ~ item.name ~ '.' ~ item.extension) }}">{{ item.name }}</a>
                                <span class="text-muted">– {{ item.dateCreated | date('d/m/Y') }}</span><br>
                                <span href="#" class="badge badge-pill badge-secondary">{{ item.genre.type.name ~ " / " ~ item.genre.name }}</span>
                            </a>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">
                            {% if item.description|length < 100 %}
                            {{ item.description }}
                            {% else %}
                                {{ item.description | slice(0, 100) }}...
                            {% endif %}
                        </p>
                        <div class="blog-comments__actions">
                            <div class="btn-group btn-group-sm">
                                <a href="{{ path('media_update', {'id':item.id}) }}" class="btn btn-white">
                                    <span class="text-success"><i class="material-icons">edit</i></span> Modifier </a>
                                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#m{{ item.id }}Modal">
                                    <span class="text-danger"><i class="material-icons">clear</i></span> Supprimer </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="card-footer border-top">
                <div class="row">
                    <div class="col text-center view-report">
                        {{ list | length }} résultats
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for key,item in list %}
        <div class="modal fade" id="m{{ item.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="m{{ item.id }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="m{{ item.id }}ModalLabel">Suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Voulez vous vraiment supprimer <b>{{ item.name }}</b> ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        <a href="{{ path('media_delete', {"id":item.id}) }}" class="btn btn-danger">Oui</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}