{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include 'inc/title.html.twig' %}
    <div class="col-4 mt-3 center-block vertical-center-register">
        <div class="card card-small mb-3">
            <div class="card-header border-bottom">
                <h6 class="m-0">Inscription</h6>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        {{ form_start(form, { 'attr': {'autocomplete': 'null'} }) }}
                        <div class="form-group">
                            {{ form_errors(form) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.lastname) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.password) }}
                        </div>
                        <button type="submit" class="btn btn-block btn-primary"><i class="material-icons">assignment_turned_in</i> S'inscrire</button>
                        {{ form_end(form) }}
                        <br>
                        <a href="{{ path('login') }}">Se connecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}