<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{{ path('home') }}" class="navbar-brand" href="#">
        <img src="{{ asset('img/media.png') }}" width="30px" height="30px" class="d-inline-block align-top" alt="">
        MediaPlayer
    </a>
    {% if app.user %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('media_list') }}"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('media_create') }}"><i class="fa fa-plus"></i> Ajout média</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('media_manage') }}"><i class="fa fa-list-ul"></i> Mes médias</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}"><i class="fa fa-wrench"></i> SCRUD</a>
            </li>
            {% endif %}
        </ul>
        <strong class="mr-3">{{ app.user.username }}
            {% if is_granted('ROLE_ADMIN') %}
                <span class="badge badge-danger">admin</span>
            {% endif %}
        </strong>
        <a href="{{ path('logout') }}" class="btn btn-outline-dark"><i class="fa fa-key"></i> Logout</a>
    </div>
    {% endif %}
</nav>